*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

a{
    color: black;
    text-decoration: none;
}

ul li{
    list-style: none;
}

nav{
    width: 800px;
    height: 70px;  
}

.mainMenu > li {
    font-size: 18px;
    font-weight: 800;
    width:160px;
    height:70px;
    background-color: aliceblue;
    line-height: 70px; 
    text-align: center;
    float: left;
    position: relative;
}

.subMenu{
    width: 160px;
    height: 70px ;
    display:none;
    position: absolute;
    font-size:14px;
    z-index: 1000;
}

.subMenu > li{
    width: 160px;
    height: 70px;
    font-size: 16px;
}

.mainMenu > li:hover > ul{
    display:block;
}

.mainMenu > li > ul > li{
    background-color: aliceblue;
    transition: all 1s;
}

.mainMenu > li > ul> li:hover {
    background: black;
    color: aliceblue;
}

.imgSlide{
    width: 800px;
    height: 300px;
    position: relative;
    overflow: hidden;
}

.window{
    width: 3200px;
    height: 300px;
    position: absolute;
    animation: 6s infinite linear window;
    display: flex;
}

.window li{
    width: 800px;
    height: 300px;
}

@keyframes window{
    0%{
        left: 0px;
    }

    23%{
        left: 0%;
    }

    33%{
        left: -800px;
    }

    56%{
        left: -800px;
    }

    66%{
        left: -1600px;
    }

    90%{
        left: -1600px;
    }

    100%{
        left: -2400px;
    }
}